@tailwind base;
@tailwind components;
@tailwind utilities;

.img-bar{
  
  width:100% !important;
  overflow-x: scroll;
}

.tit {
    font-size: 60px;             
    color: aqua;                
    -webkit-text-stroke: 1px green;
    font-weight: bold;           
    text-transform: uppercase;   
    text-align: center;;
}